*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:'Poppins', sans-serif;
}
body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('http://media.cntraveler.com/photos/598339c9b7a86962e8e27c5d/master/pass/Paris_GettyImages-601763009.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    
}
header{
    position:fixed;
    top:0;
    left:0;
    padding:30px 80px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.TravelSo{
    font-size: 2.8em;
    color:black;
}
.navigation a{
    position: relative;
    font-size:1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    color:black;
}
.navigation a::before {
    content: '';
    position: absolute;
    left:0;
    bottom:-6px;
    width: 100%;
    height: 1.8px;
    border-radius: 5px;
    background: black;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s;
}
.navigation a:hover::before{
    transform: scaleX(1);
    transform-origin: left;

}
.loginpage{
    width:70px;
    height: 33px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 1.15em;
    margin-left: 30px;
    
}
.loginpage:hover{
    background-color:#F89880;
    
}
.wrapper{
    position:relative;
    width:400px;
    height:400px;
    align-items: center;
    justify-content: center;
    background: transparent;
    
    border:1px solid rgb(213, 147, 93);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 60px rgb(203, 155, 78);
    display: flex;
    overflow:hidden;
}
.wrapper .login_box{
    width:100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top:0;
    right: 0;
    width:32px;
    height: 32px;
    background:#F89880 ;
    font-size: 1.4em;
    display:flex ;
    
    justify-content: center;
}
.login_box h2{
    text-align: center;
    font-size: 2em;
}
.input_box{
    position: relative;
    width: 300px;
    height: 50px;
    border-bottom:1.5px solid rgb(45, 42, 42);
    margin: 30px 0;
}
.input_box label{
    position:absolute;
    top:40%;
    left:5px;
    transform:translateY(-50%);
    font-size: 1em;
    color:rgb(54, 53, 53);
    font-weight: 650;
    pointer-events: none;
}
.input_box input:focus~label,
.input_box input:valid~label{
    top:-5px;
}
.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline:none;
    border: none;
}
.input_box .icon{
    position: absolute;
    right:8px;
    font-size: 1.2em;
    color:rgb(54, 53, 53);
    line-height: 57px;
}
.remember_me{
    font-size: 1em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember_me a{
    text-decoration: none;

}
.remember_me a:hover{
    text-decoration: underline;
}
.button{
    width: 100%;
    height: 40px;
    background:#F89880;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
    
}
.register{
    font-size: 1em;
    text-align: center;
    font-weight: 500;
    margin:20px 0 10px;
}
.register p a{
    text-decoration: none;
    font-weight: 700;
}
.register p a:hover{
    text-decoration: underline;

}